<div class="off-canvas">
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('services') }}">Services</a></li>
        <li><a href="{{ path_for('bugs-disease') }}">Bugs &amp; Disease</a></li>
        <li><a href="{{ path_for('franchise-opprtunities') }}">Franchise Opportunities</a></li>
        <li><a href="{{ path_for('faq') }}">FAQs</a></li>
        <li><a href="{{ path_for('connect') }}">Connect</a></li>
    </ul>
</div>
